{% load feeds_reader_tags %}
<html>
    <head>
        <title>Catalyst RSS worker</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://querybuilder.js.org/assets/css/docs.min.css" rel="stylesheet">
        <link href="https://querybuilder.js.org/assets/css/style.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.3.0/bootbox.min.js"></script>
        <script src="https://querybuilder.js.org/node_modules/jQuery-QueryBuilder/dist/js/query-builder.standalone.min.js"></script>
        <link href="https://querybuilder.js.org/node_modules/jQuery-QueryBuilder/dist/css/query-builder.default.min.css" rel="stylesheet">
        <style>
            .container {
                margin-top: 20px;
            }
            .feeds-count, .feeds {
                margin: 20px 10px;
            }
            .form-inline {
                display: block;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Catalyst RSS Worker</h1>
            <ul>
                <li><a href="{% url 'query-builder' %}">Query Builder</a></li>
                <li><a href="{% url 'admin:index' %}">Admin Panel</a></li>
                <li><a href="{% celery_url %}">Celery Flower</a></li>
            </ul>
            <hr>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>