{% extends 'feeds_reader/base.html' %}

{% block content %}

<div id="builder"></div>

<div class="btn-group">
    <button id='btn-reset' class="btn btn-warning reset" data-target="basic">Reset</button>
    <button id='btn-get' class="btn btn-primary parse-json" data-target="basic">Search</button>
</div>

<div id='feeds-count' class='feeds-count'>
    <b> Total number of feeds : {{ no_of_feeds }} </b> 
</div>

<script>
    var rules_basic = {
        condition: 'OR',
        rules: [{
            id: 'title',
            operator: 'equal',
            value: ''
        }]
    };

    $('#builder').queryBuilder({
        plugins: ['bt-tooltip-errors'],
        
        filters: [{
            id: 'title',
            label: 'Title',
            type: 'string',
            operators: ['equal', 'begins_with', 'contains']
        }],

        rules: rules_basic
    });

    $('#btn-reset').on('click', function() {
        $('#builder').queryBuilder('reset');
        location.href = "/";
    });

    $('#btn-set').on('click', function() {
        $('#builder').queryBuilder('setRules', rules_basic);
    });

    $('#btn-get').on('click', function() {
        console.log(rules_basic)
        var result = $('#builder').queryBuilder('getRules');
        $.ajax({
            type: "POST",
            url: "/query/",
            dataType: "application/json; charset=utf-8",
            success: function (msg) {
                $('#feeds-count').html(err.responseText);
            },
            error: function(err){
                $('#feeds-count').html(err.responseText);
            },
            data: JSON.stringify(result),
        });
    });
</script>

{% endblock content %}
